/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #e0e0e0;
  background-image: linear-gradient(to bottom, #e0e0e0, #ef5350 200%);
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
h1 {
    color: black;
    text-transform: uppercase;
}
h2 {
    color: cornflowerblue;
    font-weight: bold;
}